In [8]:
#Prueba de actualizacion - Base de dato DNRPA
# Carga de librerias

import datetime
import mysql.connector
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
import openpyxl
import pandas as pd
from datetime import datetime
from selenium.webdriver.support.ui import Select
import os

#Variables globales
host = '172.17.22.10'
user = 'Ivan'
password = 'Estadistica123'
database = 'prueba1'

#DF obtenido del sitio DRPNA
df_web = pd.DataFrame()

In [9]:
# Conexion con BDD 
conn = mysql.connector.connect( host=host, user=user, password=password, database=database)

#Instancia manejadora de BDD

cursor = conn.cursor()

In [10]:
#Busqueda por nombre de TABLA 

table_name = "dnrpa_parque_activo_nacion"

#Creacion de orden en lenguaje MYSQL
select_dates_query = "SELECT * FROM dnrpa_parque_activo_nacion"

#Obtencion del DATAFRAME - uso de Orden creada(MySQL) y Conexion(MySQL).
df = pd.read_sql(select_dates_query,con=conn)


#Busqueda del año mas grande (actual o anterior) --> Aclaracion por posible conflicto en los avisos por cada año nuevo
año_de_comparacion = int(df['Fecha'].max().year)

#Conversion a tipo de fecha - necesario para el tratamiento
df['Fecha'] = pd.to_datetime(df['Fecha'])

#Toma de año actual - Se usara para comparar los dataframes
df_año_actual = df[df['Fecha'].dt.year == año_de_comparacion]
print(df_año_actual)

         Fecha  Buenos_Aires  C_Autonoma_De_BSAS  Catamarca    Cordoba  \
156 2023-01-01     6556510.0           1596530.0   125583.0  1743920.0
157 2023-02-01     6566750.0           1597140.0   125768.0  1746650.0
158 2023-03-01     6578960.0           1599450.0   126006.0  1750200.0
159 2023-04-01     6589720.0           1601070.0   126192.0  1753280.0
160 2023-05-01     6601670.0           1604260.0   126412.0  1756830.0
161 2023-06-01     6614240.0           1607330.0   126678.0  1760220.0
162 2023-07-01           0.0                 0.0        0.0        0.0
163 2023-08-01           0.0                 0.0        0.0        0.0
164 2023-09-01           0.0                 0.0        0.0        0.0
165 2023-10-01           0.0                 0.0        0.0        0.0
166 2023-11-01           0.0                 0.0        0.0        0.0
167 2023-12-01           0.0                 0.0        0.0        0.0

     Corrientes     Chaco    Chubut  Entre_Rios   Formosa  ...  Rio_Negro  \
156    334057.0  286400.0  342578.0    593840.0  117597.0  ...   359292.0
157    334731.0  286888.0  342890.0    594885.0  117848.0  ...   359932.0
158    335576.0  287686.0  343465.0    596157.0  118153.0  ...   360839.0
159    336356.0  288292.0  343843.0    597324.0  118402.0  ...   361747.0
160    337225.0  288975.0  344260.0    598482.0  118611.0  ...   362682.0
161    338085.0  289692.0  344744.0    599590.0  118826.0  ...   363369.0
162         0.0       0.0       0.0         0.0       0.0  ...        0.0
163         0.0       0.0       0.0         0.0       0.0  ...        0.0
164         0.0       0.0       0.0         0.0       0.0  ...        0.0
165         0.0       0.0       0.0         0.0       0.0  ...        0.0
166         0.0       0.0       0.0         0.0       0.0  ...        0.0
167         0.0       0.0       0.0         0.0       0.0  ...        0.0

        Salta  San_Juan  San_Luis  Santa_Cruz   Santa_Fe  Sgo_Del_Estero  \
156  338573.0  267571.0  216949.0    199838.0  1494380.0        199475.0
157  339230.0  268063.0  217391.0    200046.0  1495790.0        199967.0
158  340115.0  268709.0  217844.0    200299.0  1498000.0        200516.0
159  340905.0  269224.0  218332.0    200517.0  1499540.0        200913.0
160  341781.0  269748.0  218834.0    200757.0  1501600.0        201459.0
161  342855.0  270308.0  219390.0    201038.0  1503640.0        201936.0
162       0.0       0.0       0.0         0.0        0.0             0.0
163       0.0       0.0       0.0         0.0        0.0             0.0
164       0.0       0.0       0.0         0.0        0.0             0.0
165       0.0       0.0       0.0         0.0        0.0             0.0
166       0.0       0.0       0.0         0.0        0.0             0.0
167       0.0       0.0       0.0         0.0        0.0             0.0

      Tucuman  Tierra_Del_Fuego  Total_Nacion
156  436690.0          103959.0    17401800.0
157  437339.0          104142.0    17426900.0
158  438170.0          104316.0    17460000.0
159  438912.0          104446.0    17488600.0
160  439762.0          104609.0    17522000.0
161  440597.0          104758.0    17555900.0
162       0.0               0.0           0.0
163       0.0               0.0           0.0
164       0.0               0.0           0.0
165       0.0               0.0           0.0
166       0.0               0.0           0.0
167       0.0               0.0           0.0

[12 rows x 26 columns]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13704\3661196741.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(select_dates_query,con=conn)

In [11]:
#Obtenicion de datos NRPA - Parque activo nacion

try:

    driver = webdriver.Chrome()
    driver.get('https://www.dnrpa.gov.ar/portal_dnrpa/boletines_estadisticos2.php')

    # Obtener la ventana actual
    ventana_actual = driver.current_window_handle
    
    elemento = driver.find_element(By.XPATH, '/html/body/div/section/article/div/div[2]/div/div/div/div/form/table/tbody/tr[2]/td[2]/select')

    # Localizar el elemento select por su nombre
    select_element = elemento.find_element(By.XPATH, '/html/body/div/section/article/div/div[2]/div/div/div/div/form/table/tbody/tr[2]/td[2]/select')

    # Crear un objeto Select
    select = Select(select_element)
    
    # O seleccionar por texto visible
    valor_deseado = '2023'
    select.select_by_visible_text('Año 2023')
    
    # Esperar un momento para que se abra la nueva pestaña
    driver.implicitly_wait(5)
    # Cambiar al contexto de la nueva pestaña
    for ventana in driver.window_handles:
        if ventana != ventana_actual:
            driver.switch_to.window(ventana)
    
    time.sleep(5)
    #↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ ENCONTRAR Y TOMAR LOS DATOS ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓
    # Encontrar el elemento <div> con la clase 'grid'
    elemento_div = driver.find_element(By.CLASS_NAME, 'grid')

    # Encontrar la tabla dentro del elemento <div>
    elemento_tabla = elemento_div.find_element(By.TAG_NAME, 'table')

    # Obtener todas las filas de la tabla
    filas = elemento_tabla.find_elements(By.TAG_NAME, 'tr')

    # Lista para almacenar los datos de la tabla
    tabla_datos = []
    
    for fila in filas:
        # Obtener las celdas de cada fila, excluyendo la última columna y la última celda de encabezado
        celdas = fila.find_elements(By.TAG_NAME, 'th') + fila.find_elements(By.TAG_NAME, 'td')

        # Lista para almacenar los valores de cada fila
        fila_datos = []

        for celda in celdas:
            valor = celda.text
            if isinstance(valor, str):
                # Verificar si el valor comienza con un número
                if valor.strip() and valor[0].isdigit():
                    try:
                        # Reemplazar el punto decimal por una coma (si es necesario)
                        valor = valor.replace('.', '')
                        # Intentar convertir el valor a float
                        valor = float(valor)
                        print("valor1: ", valor)
                    except ValueError:
                        pass  # Mantener el valor original si no se puede convertir a float
            fila_datos.append(valor)
        print("aca: ", fila_datos)


        tabla_datos.append(fila_datos) 
    
    datos_sin_segunda_fila = tabla_datos[0:1] + tabla_datos[2:]
    # Transponer los datos utilizando pandas
    df = pd.DataFrame(datos_sin_segunda_fila)
    df_transpuesta = df.transpose()
    
    #Conversion de MESES a formato Y-M-D , tipo de dato: datetime
    print(df_transpuesta[0][1:])
    meses = df_transpuesta[0][1:]

    #Donde almacenamos las nuevas fechas
    nuevas_fechas = list()

    for i in range(1, len(meses)+ 1):

        if i < 10:
            fecha_str =  '01-0'+str(i)+"-"+ str(valor_deseado)
        else:
            fecha_str = '01-'+str(i)+"-"+ str(valor_deseado)

        fecha_str = datetime.strptime(fecha_str,'%d-%m-%Y').date()
        nuevas_fechas.append(fecha_str)

    #Reasignacion de fechas
    df_transpuesta[0][1:] = nuevas_fechas
    
    df_web = df_transpuesta

except Exception as e:
     # Manejar cualquier excepción ocurrida durante la carga de datos
     print(f"Registro automotor: Ocurrió un error durante la carga de datos: {str(e)}")
     conn.close()  # Cerrar la conexión en caso de error

aca:  ['Provincia / Mes', 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
aca:  []
valor1:  6556514.0
valor1:  6566752.0
valor1:  6578965.0
valor1:  6589720.0
valor1:  6601673.0
valor1:  6614240.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['BUENOS AIRES', 6556514.0, 6566752.0, 6578965.0, 6589720.0, 6601673.0, 6614240.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  1596529.0
valor1:  1597143.0
valor1:  1599450.0
valor1:  1601073.0
valor1:  1604263.0
valor1:  1607331.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['CABA', 1596529.0, 1597143.0, 1599450.0, 1601073.0, 1604263.0, 1607331.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  125583.0
valor1:  125768.0
valor1:  126006.0
valor1:  126192.0
valor1:  126412.0
valor1:  126678.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['CATAMARCA', 125583.0, 125768.0, 126006.0, 126192.0, 126412.0, 126678.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  1743924.0
valor1:  1746647.0
valor1:  1750200.0
valor1:  1753283.0
valor1:  1756829.0
valor1:  1760221.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['CORDOBA', 1743924.0, 1746647.0, 1750200.0, 1753283.0, 1756829.0, 1760221.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  334057.0
valor1:  334731.0
valor1:  335576.0
valor1:  336356.0
valor1:  337225.0
valor1:  338085.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['CORRIENTES', 334057.0, 334731.0, 335576.0, 336356.0, 337225.0, 338085.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  286400.0
valor1:  286888.0
valor1:  287686.0
valor1:  288292.0
valor1:  288975.0
valor1:  289692.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['CHACO', 286400.0, 286888.0, 287686.0, 288292.0, 288975.0, 289692.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  342578.0
valor1:  342890.0
valor1:  343465.0
valor1:  343843.0
valor1:  344260.0
valor1:  344744.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['CHUBUT', 342578.0, 342890.0, 343465.0, 343843.0, 344260.0, 344744.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  593840.0
valor1:  594885.0
valor1:  596157.0
valor1:  597324.0
valor1:  598482.0
valor1:  599590.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['ENTRE RIOS', 593840.0, 594885.0, 596157.0, 597324.0, 598482.0, 599590.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  117597.0
valor1:  117848.0
valor1:  118153.0
valor1:  118402.0
valor1:  118611.0
valor1:  118826.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['FORMOSA', 117597.0, 117848.0, 118153.0, 118402.0, 118611.0, 118826.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  203928.0
valor1:  204222.0
valor1:  204641.0
valor1:  204988.0
valor1:  205432.0
valor1:  205856.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['JUJUY', 203928.0, 204222.0, 204641.0, 204988.0, 205432.0, 205856.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  204317.0
valor1:  204692.0
valor1:  205094.0
valor1:  205444.0
valor1:  205874.0
valor1:  206275.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['LA PAMPA', 204317.0, 204692.0, 205094.0, 205444.0, 205874.0, 206275.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  112677.0
valor1:  112793.0
valor1:  112925.0
valor1:  113110.0
valor1:  113320.0
valor1:  113491.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['LA RIOJA', 112677.0, 112793.0, 112925.0, 113110.0, 113320.0, 113491.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  874818.0
valor1:  875976.0
valor1:  877289.0
valor1:  878393.0
valor1:  879760.0
valor1:  881172.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['MENDOZA', 874818.0, 875976.0, 877289.0, 878393.0, 879760.0, 881172.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  326078.0
valor1:  326789.0
valor1:  327550.0
valor1:  328421.0
valor1:  329280.0
valor1:  330129.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['MISIONES', 326078.0, 326789.0, 327550.0, 328421.0, 329280.0, 330129.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  366189.0
valor1:  367012.0
valor1:  368021.0
valor1:  369209.0
valor1:  370332.0
valor1:  371720.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['NEUQUEN', 366189.0, 367012.0, 368021.0, 369209.0, 370332.0, 371720.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  359292.0
valor1:  359932.0
valor1:  360839.0
valor1:  361747.0
valor1:  362682.0
valor1:  363369.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['RIO NEGRO', 359292.0, 359932.0, 360839.0, 361747.0, 362682.0, 363369.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  338573.0
valor1:  339230.0
valor1:  340115.0
valor1:  340905.0
valor1:  341781.0
valor1:  342855.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['SALTA', 338573.0, 339230.0, 340115.0, 340905.0, 341781.0, 342855.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  267571.0
valor1:  268063.0
valor1:  268709.0
valor1:  269224.0
valor1:  269748.0
valor1:  270308.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['SAN JUAN', 267571.0, 268063.0, 268709.0, 269224.0, 269748.0, 270308.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  216949.0
valor1:  217391.0
valor1:  217844.0
valor1:  218332.0
valor1:  218834.0
valor1:  219390.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['SAN LUIS', 216949.0, 217391.0, 217844.0, 218332.0, 218834.0, 219390.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  199838.0
valor1:  200046.0
valor1:  200299.0
valor1:  200517.0
valor1:  200757.0
valor1:  201038.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['SANTA CRUZ', 199838.0, 200046.0, 200299.0, 200517.0, 200757.0, 201038.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  1494376.0
valor1:  1495789.0
valor1:  1498003.0
valor1:  1499543.0
valor1:  1501601.0
valor1:  1503644.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['SANTA FE', 1494376.0, 1495789.0, 1498003.0, 1499543.0, 1501601.0, 1503644.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  199475.0
valor1:  199967.0
valor1:  200516.0
valor1:  200913.0
valor1:  201459.0
valor1:  201936.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['S. DEL ESTERO', 199475.0, 199967.0, 200516.0, 200913.0, 201459.0, 201936.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  436690.0
valor1:  437339.0
valor1:  438170.0
valor1:  438912.0
valor1:  439762.0
valor1:  440597.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['TUCUMAN', 436690.0, 437339.0, 438170.0, 438912.0, 439762.0, 440597.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  103959.0
valor1:  104142.0
valor1:  104316.0
valor1:  104446.0
valor1:  104609.0
valor1:  104758.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['T. DEL FUEGO', 103959.0, 104142.0, 104316.0, 104446.0, 104609.0, 104758.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
valor1:  17401752.0
valor1:  17426935.0
valor1:  17459989.0
valor1:  17488589.0
valor1:  17521961.0
valor1:  17555945.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
valor1:  0.0
aca:  ['TOTAL', 17401752.0, 17426935.0, 17459989.0, 17488589.0, 17521961.0, 17555945.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
aca:  []
1     Ene
2     Feb
3     Mar
4     Abr
5     May
6     Jun
7     Jul
8     Ago
9     Sep
10    Oct
11    Nov
12    Dic
Name: 0, dtype: object

In [12]:
print(df_web)

print("""
     ********************************************************************
      """)

print(df_año_actual)

                 0             1          2          3          4   \
0   Provincia / Mes  BUENOS AIRES       CABA  CATAMARCA    CORDOBA
1        2023-01-01     6556514.0  1596529.0   125583.0  1743924.0
2        2023-02-01     6566752.0  1597143.0   125768.0  1746647.0
3        2023-03-01     6578965.0  1599450.0   126006.0  1750200.0
4        2023-04-01     6589720.0  1601073.0   126192.0  1753283.0
5        2023-05-01     6601673.0  1604263.0   126412.0  1756829.0
6        2023-06-01     6614240.0  1607331.0   126678.0  1760221.0
7        2023-07-01           0.0        0.0        0.0        0.0
8        2023-08-01           0.0        0.0        0.0        0.0
9        2023-09-01           0.0        0.0        0.0        0.0
10       2023-10-01           0.0        0.0        0.0        0.0
11       2023-11-01           0.0        0.0        0.0        0.0
12       2023-12-01           0.0        0.0        0.0        0.0

            5         6         7           8         9   ...        17  \
0   CORRIENTES     CHACO    CHUBUT  ENTRE RIOS   FORMOSA  ...     SALTA
1     334057.0  286400.0  342578.0    593840.0  117597.0  ...  338573.0
2     334731.0  286888.0  342890.0    594885.0  117848.0  ...  339230.0
3     335576.0  287686.0  343465.0    596157.0  118153.0  ...  340115.0
4     336356.0  288292.0  343843.0    597324.0  118402.0  ...  340905.0
5     337225.0  288975.0  344260.0    598482.0  118611.0  ...  341781.0
6     338085.0  289692.0  344744.0    599590.0  118826.0  ...  342855.0
7          0.0       0.0       0.0         0.0       0.0  ...       0.0
8          0.0       0.0       0.0         0.0       0.0  ...       0.0
9          0.0       0.0       0.0         0.0       0.0  ...       0.0
10         0.0       0.0       0.0         0.0       0.0  ...       0.0
11         0.0       0.0       0.0         0.0       0.0  ...       0.0
12         0.0       0.0       0.0         0.0       0.0  ...       0.0

          18        19          20         21             22        23  \
0   SAN JUAN  SAN LUIS  SANTA CRUZ   SANTA FE  S. DEL ESTERO   TUCUMAN
1   267571.0  216949.0    199838.0  1494376.0       199475.0  436690.0
2   268063.0  217391.0    200046.0  1495789.0       199967.0  437339.0
3   268709.0  217844.0    200299.0  1498003.0       200516.0  438170.0
4   269224.0  218332.0    200517.0  1499543.0       200913.0  438912.0
5   269748.0  218834.0    200757.0  1501601.0       201459.0  439762.0
6   270308.0  219390.0    201038.0  1503644.0       201936.0  440597.0
7        0.0       0.0         0.0        0.0            0.0       0.0
8        0.0       0.0         0.0        0.0            0.0       0.0
9        0.0       0.0         0.0        0.0            0.0       0.0
10       0.0       0.0         0.0        0.0            0.0       0.0
11       0.0       0.0         0.0        0.0            0.0       0.0
12       0.0       0.0         0.0        0.0            0.0       0.0

              24          25    26
0   T. DEL FUEGO       TOTAL  None
1       103959.0  17401752.0  None
2       104142.0  17426935.0  None
3       104316.0  17459989.0  None
4       104446.0  17488589.0  None
5       104609.0  17521961.0  None
6       104758.0  17555945.0  None
7            0.0         0.0  None
8            0.0         0.0  None
9            0.0         0.0  None
10           0.0         0.0  None
11           0.0         0.0  None
12           0.0         0.0  None

[13 rows x 27 columns]

     ********************************************************************

         Fecha  Buenos_Aires  C_Autonoma_De_BSAS  Catamarca    Cordoba  \
156 2023-01-01     6556510.0           1596530.0   125583.0  1743920.0
157 2023-02-01     6566750.0           1597140.0   125768.0  1746650.0
158 2023-03-01     6578960.0           1599450.0   126006.0  1750200.0
159 2023-04-01     6589720.0           1601070.0   126192.0  1753280.0
160 2023-05-01     6601670.0           1604260.0   126412.0  1756830.0
161 2023-06-01     6614240.0           1607330.0   126678.0  1760220.0
162 2023-07-01           0.0                 0.0        0.0        0.0
163 2023-08-01           0.0                 0.0        0.0        0.0
164 2023-09-01           0.0                 0.0        0.0        0.0
165 2023-10-01           0.0                 0.0        0.0        0.0
166 2023-11-01           0.0                 0.0        0.0        0.0
167 2023-12-01           0.0                 0.0        0.0        0.0

     Corrientes     Chaco    Chubut  Entre_Rios   Formosa  ...  Rio_Negro  \
156    334057.0  286400.0  342578.0    593840.0  117597.0  ...   359292.0
157    334731.0  286888.0  342890.0    594885.0  117848.0  ...   359932.0
158    335576.0  287686.0  343465.0    596157.0  118153.0  ...   360839.0
159    336356.0  288292.0  343843.0    597324.0  118402.0  ...   361747.0
160    337225.0  288975.0  344260.0    598482.0  118611.0  ...   362682.0
161    338085.0  289692.0  344744.0    599590.0  118826.0  ...   363369.0
162         0.0       0.0       0.0         0.0       0.0  ...        0.0
163         0.0       0.0       0.0         0.0       0.0  ...        0.0
164         0.0       0.0       0.0         0.0       0.0  ...        0.0
165         0.0       0.0       0.0         0.0       0.0  ...        0.0
166         0.0       0.0       0.0         0.0       0.0  ...        0.0
167         0.0       0.0       0.0         0.0       0.0  ...        0.0

        Salta  San_Juan  San_Luis  Santa_Cruz   Santa_Fe  Sgo_Del_Estero  \
156  338573.0  267571.0  216949.0    199838.0  1494380.0        199475.0
157  339230.0  268063.0  217391.0    200046.0  1495790.0        199967.0
158  340115.0  268709.0  217844.0    200299.0  1498000.0        200516.0
159  340905.0  269224.0  218332.0    200517.0  1499540.0        200913.0
160  341781.0  269748.0  218834.0    200757.0  1501600.0        201459.0
161  342855.0  270308.0  219390.0    201038.0  1503640.0        201936.0
162       0.0       0.0       0.0         0.0        0.0             0.0
163       0.0       0.0       0.0         0.0        0.0             0.0
164       0.0       0.0       0.0         0.0        0.0             0.0
165       0.0       0.0       0.0         0.0        0.0             0.0
166       0.0       0.0       0.0         0.0        0.0             0.0
167       0.0       0.0       0.0         0.0        0.0             0.0

      Tucuman  Tierra_Del_Fuego  Total_Nacion
156  436690.0          103959.0    17401800.0
157  437339.0          104142.0    17426900.0
158  438170.0          104316.0    17460000.0
159  438912.0          104446.0    17488600.0
160  439762.0          104609.0    17522000.0
161  440597.0          104758.0    17555900.0
162       0.0               0.0           0.0
163       0.0               0.0           0.0
164       0.0               0.0           0.0
165       0.0               0.0           0.0
166       0.0               0.0           0.0
167       0.0               0.0           0.0

[12 rows x 26 columns]